body, div, h1, h2, h3, h4, p, ul, img {margin: 0px; padding: 0px;}
a img {border: none;}
body {font-family: Arial, Helvetica}
.container {width: 960px; margin: 0 auto;}
#main {background: url(../images/header.jpg) repeat-x;}

#footer {background: url(../images/footer.jpg) repeat-x; height: 92px; color: #fffff1; padding: 10px; font-size: 14px;}

#logo {background: url(../images/logo.jpg) no-repeat; height: 145px; width: 207px; float: left; background-position: 0 5px;}
	#logo h1 {text-indent: -9999px;}
#header {padding-top: 15px;}

ul#menu_top {list-style: none; color: #020202}
	ul#menu_top a {color: #020202}
	ul#menu_top li a:hover, ul#menu_top li a:active {background-color: #020234; color: white; padding: 4px; -moz-border-radius: 5px;}
	ul#menu_top li a:link, ul#menu_top li a:visited {font-size: 18px; text-decoration: none; padding: 4px;}
	ul#menu_top li {padding-left: 10px; padding-right: 10px; float: right;}

#banner {float: left; background: url(../images/banner.jpg) no-repeat; height: 298px; width: 607px; margin-top: 0px;}
#banner_category {float: left; background: url(../images/banner_categoria.jpg) no-repeat; height: 240px; width: 607px; margin-top: 5px;}

#content {margin-top: 0px; padding: 20px; float: left; width: 313px;}
	#content h2 {color: #1e1e44; font-size: 24px;}
	#content h4 {color: #555998; font-size: 18px; margin-bottom: 15px;}
	#content p {font-size: 18px;}

#novidades {background-color: #d5d9ff; width: 445px; border-right: 1px solid #676fff;float: left;}
#vendidos {background-color: #bdc1ef; width: 461px; border-right: 1px solid #feffff; float: left;}
.painel_destaque {height: 353px; float: left; margin: 17px 0 15px; padding: 24px 13px 13px 13px;}

#novidades h3, #vendidos h3 {color: #1c1f48; font-size: 18px;}
	#novidades h3 span, #vendidos h3 span {color: #1cffff; font-size: 14px;}

.produto {margin-top: 15px; float: left; margin-right: 8px;}
	.produto img {border: solid 1px #a8abf8;}
	.produto small {color: #3d444c; font-size: 10px; display: block;}
	.produto small span {color: #22237d;}

#info {float: left;}
	#info ul li {display: inline;}
	#info ul li a {color: #fffff1; text-decoration: none;}

#busca {float: right; background-color: #1d1f46; width: 461px; position: relative; top: -10px; padding: 13px;}
	#busca p img {position: relative; top: 10px;}

#categoria {background-color: #d5d9ff; width: 445px; border-right: 1px solid #676fff;float: left;}
.product_category {background-color:white;color:#2D3A67;float:left;margin:0 38px 40px 0;width:179px;-moz-border-radius: 5px;}
	.product_category img {border:1px solid #AA9C8F;}
	.product_category:hover {background-color:#7E97C0;color:white;float:left;margin:0 38px 40px 0; width:179px; -moz-border-radius: 5px;}
		.product_category:hover img {border:1px solid black;}
		.product_category div {font-size: 12px;}

#menu_secoes {background: url(../images/jeans.jpg); clear: right; float: right; list-style: none; margin-top: 10px; font-size: 16px;}
	#menu_secoes li {display: inline;}
	#menu_secoes li a.inicial:link,
	#menu_secoes li a.inicial:visited {color: #fff; display: inline-block; font-weight: bold; text-decoration: none; width: 117px; text-align: center; padding: 20px 0px;}
	#menu_secoes li a.inicial:hover,	#menu_secoes li a.inicial:active {  s}

	#menu_secoes li a.selecionado:link,
	#menu_secoes li a.selecionado:visited {background: url(../images/menu_hover.jpg) no-repeat bottom; color: #fff; display: inline-block; font-weight: bold; text-decoration: none; width: 117px; text-align: center; padding: 20px 0px;}

/*para qualquer elemento ul que comece com "sub" ... faca tal coisa*/
ul[id|="sub"] {background: #FCFCFC; float: right; clear: right; padding-right: 20px; -moz-border-radius: 4px 0px 4px 4px; border-right: solid 1px #CCC; border-bottom: solid 1px #CCC;}
	ul[id|="sub"] li {display: inline;}

	ul[id|="sub"] li a:link,
	ul[id|="sub"] li a:visited {color: #696969; display: inline-block; text-decoration: none; font: bold 12px Arial, Helvetica; padding: 10px 20px;}
	ul[id|="sub"] li a:hover,
	ul[id|="sub"] li a:active {color: #000066;}

.clearfix:after {content: "."; visibility: hidden; display: block; height: 0; clear: both;}

#produto_imagem {margin-top: 17px; float: left;}
	#produto_imagem img {float: left; clear: left;}
#produto_descricao {float: left; width: 652px; padding: 18px 0 0 18px; margin-top: 17px;}
	#produto_descricao p, #produto_descricao ul {color: #3d3d3d; font-size: 12px; list-style: none;}
	#produto_descricao span {color: #0c0241; font-size: 28px; font-weight: bold;}
	#produto_descricao strong {font-size: 20px; font-weight: bold; color: #3d3d3d; display: block;}

.quadrado {cursor: pointer; display: inline-block; width: 33px; height: 33px;}

#preto {background-color: yellow;}
#azul {background-color: blue;}
#cinza {background-color: gray;}
/*
ul#menu
Le-se procure dentro da pagina os UL com id=menu

#novidades h3 span, #vendidos h1 span {...}
Le-se faca tal coisa para span dentro h3 dentro de qualquer elemento com o id novidades
A virgula serve para dizer que tem que fazer a mesma coisa para o outro elemento 
*/
